{% extends "base.html.twig" %}

{# expects variable `stations` #}
{% block htmlHeader%}
<script type="text/javascript">
{% if page.loadingDataFailed %}
setTimeout(function(){ location.reload(true); }, 60*1000);
{% endif %}

var lastQuery = null;
var maxShow = 300; // show first n results

function filterTable(searchText) {
	var table = document.getElementById('stations');
	var resultInfo = document.getElementById('showed_results');

	searchText = cleanSearchString(searchText);

	if(sFilter === null) {
		document.getElementById('showed_results').innerText = 'Waiting for data ...';
	}

	if(searchText == lastQuery) {
		return;
	}

	lastQuery = searchText;

	// var start = performance.now();

	var insert = sFilter.getMatches(searchText, maxShow);

	var ins = [];
	for (var i = 0; i < insert.length; i += 1) {
		var e = insert[i];
		ins.push('<tr><td><a href="?stop_point_ref=');
		ins.push(e.StationID);
		ins.push('">');
		ins.push(e.Station);
		ins.push('</a></td></tr>');
	}
	table.innerHTML = ins.join("");
	var diff = "";
	// diff = performance.now() - start;
	diff = " (" + diff + "ms)";
	diff = ""; // Debug

	resultInfo.innerText = insert.length + " results shown" + diff;
}
var sFilter = null;
$.get("rc/stations.csv", function(response) {
	var csv = $.csv.toObjects(response);
    sFilter = new StationFilter(csv);
});

</script>
{% endblock %}
{% block content %}
<div class="stations_overview">
{% if page.loadingDataFailed %}
	Could not load data.
{% endif %}

<form action="" method="get">
	<label for="stop_point_ref">Station: </label><input type="text"
		onchange="filterTable(this.value)"
		onkeydown="filterTable(this.value)"
		onkeypress="filterTable(this.value)"
		onkeyup="filterTable(this.value)"
		name="stop_point_ref" id="stop_point_ref" />
	<input type="submit" value="&rarr;" />
</form>
<p id="showed_results"></p>
<table class="stations" id="stations">
</table>{# stations #}
</div>{# stations_overview #}
{% endblock %}
