{% extends "base.html.twig" %}

{# expects variable `journeys` with the journeys, expects variable `timetable` with settings for page #}

{% block title %}
{{ parent() }} &bull; Timetable{% if timetable.observedStation is not empty %} for {{ timetable.observedStation }}{% endif %}
{% endblock %}

{% block htmlHeader %}
<script type="text/javascript">
var updateTimetable = function(){
    // update
    $("#journeys_overview").load("/?stop_point_ref=8503099&data_only=t");
    setTimeout(updateTimetable, {{ timetable.refreshInterval }});
}
function init(){
    setTimeout(updateTimetable, {{ timetable.refreshInterval }});
}
window.addEventListener("load", init, false);
</script>
<style>
.navbar {margin-bottom: 0;}
</style>
{% endblock %}

{% block contentEnv %}

{% if page.use_mock %}
<p style="color: white;">
    This is mocked data!
</p>
{% endif %}
<div class="journeys_title">
    Departure
</div>

<div class="journeys" id="journeys_overview">
{% include 'timetable_data.html.twig' %}
</div>{# journeys #}
<div class="journeys_fill_l"></div>
<div class="journeys_fill_r"></div>
{% endblock %} {# root #}
