
* {
    margin: 0;
    padding: 0;
    transition-property: all;
    transition-duration: 0s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

body {
	background-color: #05348B;
	color: #FEFEFE;
	font-family: "Noto Sans", sans-serif;
	line-height: 1.6;
}

div.journeys_title {
	padding: auto;
	text-align: center;
	background-color: #FFCA36;
	height: 1.5em;
	line-height: 1.5em;
	font-weight: bold;
	font-size: 2em;
	color: black;
}

div.journeys {
	border: 3em solid #FFCA36;
	border-top: 0;
}

div.journeys div.stopPoint {
	border-bottom: 1px solid #FEFEFE;
	padding: 0.5em 1em;
}

div.journeys div.stopPoint:last-child {
	border-bottom: none;
}

div.journeys p.arrival {
	font-weight: bold;
}

div.journeys p.detail {
	color: #F0F0F0;
}

